 <style>
    .small-img {
        width: 30%; /* Cambia este valor según el tamaño deseado */
        max-width: 50px; /* Tamaño máximo */
        height: auto; /* Mantiene la proporción */
    }
</style>

 
 
 
 
 <div class="jumbotron mt-4">
    <h1 class="display-4">Citas Estética Adry</h1>
    <p class="lead">.</p>
    <hr class="my-4">
    <p></p>
    
    <!-- Sección para imágenes -->
    <div class="row">
        <div class="col-md-6">
            <img src="/img/peinado.jpeg" alt="Servicio de corte de cabello" class="img-fluid rounded">
            <p class="text-center mt-2">Servicio de corte y estilismo profesional.</p>
        </div>
        <div class="col-md-6">
            <img src="/img/uñas.jpeg" alt="Uñas decoradas" class="img-fluid rounded">
            <p class="text-center mt-2">Manicure y decoración de uñas de alta calidad.</p>
        </div>
    </div>

    <!-- Botón -->
    <a href="/users/signup" class="btn btn-secondary mt-4">Reservar tu cita</a>
</div>




  