<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container">
    <a class="navbar-brand" href="/">Citas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {{#if isActiveHome}}active{{/if}}" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if isActiveAbout}}active{{/if}}" href="/about">Servicios</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Citas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/notes">Todas las Citas</a></li>
            <li><a class="dropdown-item" href="/notes/add">Nueva Cita</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/users/logout">Salir</a></li>
          </ul>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/users/signin" class="nav-link">Ingresar</a>
        </li>
        <li class="nav-item">
          <a href="/users/signup" class="nav-link">Registrarse</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
